<html>
<head>
<style type="text/css">
body {}
#bodyStyle {
    font-family: sans-serif;
    background: #59C;
    margin: 5mm;
    color: black
}
div.banner {
    margin: -5mm;
    margin-bottom: 5mm;
    padding: 1mm;
    text-align: center;
    font-size: 6mm;
    font-family: sans-serif;
    background: #48B;
}
a:link { color: #238 }
a:visited { color: #632 }
hr.banner {
    display: none;
}
</style>
</head>
</html>
