body {
    font-family: sans-serif;
    color: #0b0;
    background-color: black;
    margin: 5mm;
}
div.banner {
    color: #0bb;
    background-color: #333;
    text-align: center;
    margin-top: -5mm;
    margin-left: -5mm;
    margin-right: -5mm;
    margin-bottom: 5mm;
    font-size: 1cm;
    padding: 1mm;
}
div.motto {
    color: #0aa;
    font-style: italic;
    font-size: 2mm;
    margin-top: -5mm;
}
a:link { color: #0aa; }
a:visited { color: #6a6; }
hr.banner { display: none; }
h1 { text-align: center; }
